<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начать игру</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .start-button {
            padding: 15px 30px;
            font-size: 18px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .start-button:hover {
                background-color: #218838;
            }
    </style>
</head>
<body>

    <button class="start-button" onclick="startGame()">Начать игру</button>

    <script>
        function startGame() {
            window.location.href = 'GameDino.html'; // Открытие страницы GameDino.html
        }
    </script>

</body>
</html>
